
.ingredient {
    color: red;
}

.amount {
    color: blue;
}

.preview {
    max-width: 100%;
    box-sizing: border-box; 
}

@media (prefers-color-scheme: dark) {
    .amount {
        color: white;
        font-weight: bold;
    }
    .ingredient {
        color: red;
    }
}